body {
  background-color: #eee;
}

.disabled {
  cursor: default;
  opacity: .4;
  pointer-events: none;
}

.hidden {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.residual-height-product-page {
  height: calc(100vh - 320px);
}

.residual-height {
  height: calc(100vh - 435.2px);
}

.mx-30pc {
  margin: 0 30%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}