.disabled {
  cursor: default;
  opacity: .4;
  pointer-events: none;
}

.hidden {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}